*{

}

html {

}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

/*********************************************              Home              *********************************************/
.home{
margin: 20px;

}

.movie-options {
  
  
}

.banner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 20px;

}

.banner-slideshow{
  margin: 10px;
  padding: 10px;
}





.banner img{
  max-height: 600px;
  object-fit: scale-down;
  border-radius: 15px;
}


/* .more-movies {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  white-space:nowrap;
}

.more-movies-items{
  display:inline-block;
} */


.about{
  
}



/*********************************************              End of Home              *********************************************/


























